body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: helvetica, sans-serif;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url("./background.jpg");
  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

h1 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  border: 3px solid #f1f1f1;
  border-radius: 0.5em;
  padding: 0.75em;
  margin: 1.5em;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.player-choice {
  font-size: 1em;
  width: 8em;
  height: 2.3em;
  border-radius: 0.25em;
}

.results {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-color: black;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #f1f1f1;
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.game-counts {
  color: #f1f1f1;
  font-size: 1.5em;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 2em;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25%;
  background: #f8f8f8;
  padding: 1.5em;
  gap: 1em;
  border-radius: 0.5em;
  z-index: 99;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 1.75em;
  margin-top: -0.5em;
  font-weight: 800;
}

.hidden-modal { 
 display: none; 
}

.close-modal {
  background: #f1f1f1;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.75em;
  width: 8em;
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.close-modal:hover {
  background-color: lightgrey;
}

.blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.hidden-blur {
  display: none;
}
